body {
  font-family: arial;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
  }
}
header {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #369;
  color: #ff6377;
}
main {
  flex: 1;
  padding: 20px;
}
nav {
  background-color: #00dbaa;
  padding: 20px;
}
aside {
  padding: 20px;
  background-color: #f7c72e;
}
footer {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #0fcedd;
  color: white;
}
h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}
